/* .form {
  display: flex;
  width: 100%;
  gap: 4px;
  margin-bottom: 12px;
}

.input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font: inherit;
  line-height: 16px;
  letter-spacing: 0.01em;
  resize: none;
}

.button {
  border: none;
  font: inherit;
  cursor: pointer;
  outline: none;
  padding: 0 8px;
  border-radius: 4px;
  background-color: #3f51b5;
  color: #fff;
}

.button:hover,
.button:focus {
  background-color: #303f9f;
}

.button:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} */

.form {
  border: 1px solid black;
}

.label {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 10px 0 10px;
}
.input {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}
.input:hover,
.input:focus,
.input:active {
  border-color: #78a1fa;
  outline: 1px solid #78a1fa;
}

.button {
  margin: 10px;
  cursor: pointer;
}
.button:hover {
  background: #78a1fa;
}
