/* // import styled from 'styled-components';

// export const FindByName = styled.label`
//   display: block;
//   margin-top: 10px;
// `;

// export const FilterInput = styled.input`
//   width: 88%;
//   &:hover,
//   &:focus,
//   &:active {
//     border-color: #78a1fa;
//     outline: 1px solid #78a1fa;
//   }
// `; */

.findByName {
  display: block;
  margin-top: 10px;
}

.filterInput {
  width: 88%;
}
.filterInput:hover,
.filterInput:focus,
.filterInput:active {
  border-color: #78a1fa;
  outline: 1px solid #78a1fa;
}
